# Build files
/target
Cargo.lock

# IDEs
/.vscode
.vs
.idea

# Cargo config
/.cargo/config.toml

# Generated C lib
tests/bindings/c/build
tests/bindings/c/generated

# Generated .NET lib
tests/bindings/dotnet/foo
tests/bindings/dotnet/*/bin
tests/bindings/dotnet/*/obj
tests/bindings/dotnet/nupkg

# Generated Java lib
tests/bindings/java/.idea
tests/bindings/java/foo
tests/bindings/java/foo-jni
tests/bindings/java/*/target
tests/bindings/java/**/*.iml
