/target
/.vscode

# Generated C lib
tests/bindings/c/build
tests/bindings/c/generated

# Generated .NET lib
tests/bindings/dotnet/foo
tests/bindings/dotnet/*/bin
tests/bindings/dotnet/*/obj

# Test stuff that should disappear
/result
/test
/test2
