/target
/.vscode
.vs
.idea

# ====================
# Generated test files
# ====================

# Generated C lib
tests/bindings/c/build
tests/bindings/c/generated

# Generated .NET lib
tests/bindings/dotnet/foo
tests/bindings/dotnet/*/bin
tests/bindings/dotnet/*/obj

# =======================
# Generated example files
# =======================

# Generated C lib
example/bindings/c/build
example/bindings/c/generated

# Generated .NET lib
example/bindings/dotnet/dnp3rs
example/bindings/dotnet/*/bin
example/bindings/dotnet/*/obj
